  @media screen and (max-width: 600px) {
    #a-1{
        position: absolute;
        top: 10px;
        height: 42px;
    }

    #span-1{
        position: absolute;
        top: 12px;
    }

    #a-2{
        position: absolute;
        z-index: 2;
        top: 60px;
        left: -60px;
        height: 42px;
    }

    #span-2{
        position: absolute;
        top: 12px;
    }

    #a-3{
        position: absolute;
        z-index: 2;
        top: 345px;
        left: 120px;
    }
  }